*
{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;
}

body
{
    margin: auto;
}

/* Opmaak van de header en logo */
#bedrijfs_uitstraling
{
    clear: both;
    background-color: #50AB00;
}

#bedrijfs_uitstraling > h1
{
    text-align: center;
    background-color: #50AB00;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: auto;
    margin-right: 12.7%;
    font-size: 48px;
}

#bedrijfs_uitstraling > a > img
{
    background-color: #50AB00;
    float: left;
    margin-left: 5.8%;
}

/* Opmaak van de navigatie */
#hoofdmenu
{
    width: 100%;
    height: 6%;
}

#hoofdmenu > ul > li> a
{
    width: 16.6666666666666666666666666666666666666%;
    height: 100%;
    float: left;
    color: #000000;
    text-decoration: none;
    background-color: #67DB00;
    font-size: 24px;
}

#hoofdmenu > ul
{
    float: left;
    width: 100%;
    line-height: 3em;
    text-align: center;
}

#hoofdmenu > ul > li
{
    display: inline;
}

/* Opmaak van de footer */
footer
{
    clear: both;
    width: 100%;
    height: 4%;
    line-height: 1.5em;
    background-color: #67DB00;
}

footer > section > p
{
    background-color: #67DB00;
    width: 50%;
    float: right;
    text-align: right;
}

footer > section > a
{
    background-color: #67DB00;
    color: #E6E6FA;
    text-decoration: none;
    width: 50%;
    float: left;
}

/* Opmaak van de teksten */
main
{
    width: 100%;
    height: auto;
    clear: both;
}

.flexOuder
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Opmaak van de teksten homepagina */
.home_artiekel
{
    margin: 5%;
    flex-basis: 30%;
    flex-grow: 1;
    text-align: center;
}

.home_artiekel > article > a > img
{
    width: 460px;
}

#home_artiekel_belangrijk
{
    clear: both;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

/* Opmaak van de teksten onderwijspagina */
.onderwijs_artiekel
{ 
    margin: 5%;
    flex-basis: 20%;
    flex-grow: 1;
}

.onderwijs_afbeelding1, .onderwijs_afbeelding2
{
    margin-top: 5%;
    flex-basis: 20%;
    flex-grow: 1;
}

.onderwijs_afbeelding1 > article > a > img
{
    width: 272px;
}

.onderwijs_afbeelding2 > article > a > img
{
    width: 175px;
}

/* Opmaak van de teksten sportpagina */
.sport_artiekel
{ 
    margin: 5%;
    flex-basis: 20%;
    flex-grow: 1;
}

.sport_afbeelding1, .sport_afbeelding2
{
    margin-top: 5%;
    flex-basis: 20%;
    flex-grow: 1;
}

.sport_afbeelding1 > article > a > img
{
    width: 272px;
}

.sport_afbeelding2 > article > a > img
{
    width: 564px;
}

/* Opmaak van de teksten speelplekkenpagina */
.speelplekken_artiekel
{ 
    margin: 5%;
    flex-basis: 20%;
    flex-grow: 1;
}

.speelplekken_afbeelding1, .speelplekken_afbeelding2
{
    margin-top: 5%;
    flex-basis: 20%;
    flex-grow: 1;
}

.speelplekken_afbeelding1 > article > a > img
{
    width: 272px;
}

.speelplekken_afbeelding2 > article > a > img
{
    width: 564px;
}

/* Opmaak van de teksten natuurpagina */
.natuur_artiekel
{ 
    margin: 5%;
    flex-basis: 20%;
    flex-grow: 1;
}

.natuur_afbeelding1, .natuur_afbeelding2
{
    margin-top: 5%;
    flex-basis: 20%;
    flex-grow: 1;
}

.natuur_afbeelding1 > article > a > img
{
    width: 175px;
}

.natuur_afbeelding2 > article > a > img
{
    width: 564px;
}

/* Opmaak van de teksten contactpagina */
.formulier
{ 
    margin: 5%;
    text-align: center;
}