*
{
    margin: 0;
    padding: 0;
    border: 0;
}

header
{
    background-color: black;
    text-align: center;
    color: white;
    height: 100px;
}

figure img
{
    width: 460px;
    height: 255px;
}

picture img
{
    width: 460px;
    height: 255px;
}

#logo
{
    width: 100px;
    height: 100px;
    float: left;
}

nav p
{
    float: left;
    width: 16.666666666666%;
    text-align: center;
    background-color: blue;
    border-color: black;
}

#welkom
{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2.5%;
}

#sport
{
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    margin-top: 2.5%;
}

#buitenspelen
{
    margin-right: 5%;
    margin-top: 4.5%;
}

#onderwijs
{
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    margin-top: 2.5%;
}

#natuur
{
    margin-right: 5%;
    margin-top: 2.5%;
}

.formulier
{
    text-align: center;
    margin-top: 2.5%;
}

footer
{
    clear: both;
    float: right;
}

article
{
    width: 500px;
}

#artiekel2
{
    float: right;
}

#afbeelding1 img
{
    width: 230px;
}

#afbeelding2 img
{
    width: 153px;
    float: right;
}

#artiekel3
{
    float: left;
}

#sportt1
{
    float: left;
}

#sporta1 img
{
    width: 230px;
}

#sportt2
{
    float: right;
    margin-left: 100px;
}

#sportt3
{
    float: left;
}

#sporta3 img
{
    width: 230px;
}

#sportt4
{
    float: right;
}

#natuurt1
{
    float: left;
}

#natuurt2
{
    float: right;
    margin-left: 100px;
}

#natuurt3
{
    float: left;
}

#natuura3 img
{
    width: 230px;
}

#speelplekkent1
{
    float: left;
}

#speelplekkent2
{
    float: right;
    margin-left: 100px;
}

#speelplekkent3
{
    float: left;
}

#speelplekkena3 img
{
    width: 230px;
}