@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*
{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;
    border-color: transparent;
    border-style: none;
    border-width: 0%;
}

/* De juiste lettertypes en grotte van teksten toewijzen */
body
{
    margin: auto;
    font-family: 'Inter';
    font-size: 14px;
}

h1
{
    font-family: 'Satisfy';
    font-size: 3.4em;
}

#hoofdmenu, button, #belangrijke_tekst_contact
{
    font-size: 1.7em;
}

#home_artiekel_belangrijk
{
    font-size: 1.4em;
}

figcaption, footer, aside > p, #onbelangrijke_tekst_contact, i, #bijmenu
{
    font-size: 0.9em;
}

h2, #introVerwijzing, form
{
    font-size: 1em;
}

/* De juiste kleuren toewijzen */
#bedrijfs_uitstraling > a > img, #bedrijfs_uitstraling > h1, #bedrijfs_uitstraling > form, #bedrijfs_uitstraling > a,
nav > ul > li > a, nav > ul > li, nav > ul, 
article > p, article > p > a, article > h2, article > figure, article > figure > a ,article > figure > figcaption, article > ul, article > ul > li, article > ul > li > a, article > ol, article > ol > li, article > ol > li > a,
footer > section > a, footer > section > p, footer > section, footer > section > p > strong,
form > p, i, form > label, #verzendknop, form, #formulier > section > p, #formulier > section, #home_artiekel_belangrijk,
aside > a, aside > img, #introVerwijzing, aside > p,
.tekst_onderwijs_zonder_kleur
{
    background-color: transparent;
}

#bedrijfs_uitstraling, #hoofdmenu > ul > li > a, #verzendknop
{
    background-color: #244B00;
}

#hoofdmenu > ul > #deze_pagina > a
{
    background-color: #72F100;
    color: #000000;
}

button, header > h1, nav > ul > li > a, #verzendknop
{
    color: #FFFFFF;
}

#welkom_website > h1, #welkom_website > p, section > h1
{
    color: #244B00;
}

article, #formulier, aside
{
    background-color: #F5F5DC;
}

footer, #bijmenu, #bedrijfs_uitstraling > form > button
{
    background-color: #50AB00;
}

#bijmenu > ul > li > a
{
    color: #E6E6FA;
}

#hoofdmenu > ul > li > a
{
    border-color: #000000;
}

#welkom_website > p, #welkom_website
{
    background-color: #FFFFFF;
}

/* Vormgeving van de teksten */
nav > ul > li > a
{
    text-decoration: none;
}

#home_artiekel_belangrijk
{
    font-weight: bold;
}

article > ul
{
    list-style-type: disc; /* code om opsommingsteken voor opsomming te krijgen, doet het nog niet*/ 
}

article > ol
{
    list-style-type: decimal; /* code om opsommingsteken voor opsomming te krijgen, doet het nog niet*/ 
}

/* Grootte van de onderdelen op de website */
#bedrijfs_uitstraling
{
    height: 10.9%;
}

#bedrijfs_uitstraling > a > img
{
    height: 9.2%;
}

#bedrijfs_uitstraling > form > input, #bedrijfs_uitstraling > form > button
{
    height: 5.4%; /* inputveld doet het nog niet */
}

#hoofdmenu > ul > li > a
{
    line-height: 2em;
    border-width: 1px;
    border-style: solid;
}

#onderwijs_home > figure > a > img, #sport_home > figure > a > img, #buitenspelen_home > figure > a > img, #natuur_home > figure > a > img
{
     width: 53.6%;
}

#onderwijs_home > p, #sport_home > p, #buitenspelen_home > p, #natuur_home > p
{
    width: 33.9%;
}

#groot_invoerveld
{
    width: 120%;
    height: 50%;
}

#naam, #e-mailadres, #telefoonnummer
{
    width: 60%;
    height: 15%;
}

#bedrijfs_uitstraling > a > img
{
    width: 100px;
    height: auto;
}

#bedrijfs_uitstraling > form > input
{
    width: 60%;
    height: 70%;
}

#bedrijfs_uitstraling > form > button
{
    width: 20%;
    height: 70%;
}

#bedrijfs_uitstraling > form
{
    width: 40%;
}

/* Positie van de onderdelen op de website */ 
#hoofdmenu > ul > li, #bijmenu > ul > li
{
    display: inline;
}

#hoofdmenu > ul
{
    width: 100%;
    clear: both;

}

#hoofdmenu > ul > li > a
{
    width: 16.5599999999999%;
    float: left;
    text-align: center;
}

#bedrijfs_uitstraling
{
    display: flex;
    flex-wrap: wrap;
    
}

#bedrijfs_uitstraling > a > img
{   
    margin-left: 60%;
}

#bedrijfs_uitstraling > h1
{   
    margin-left: 10%;
    margin-top: 1%;
}

#bedrijfs_uitstraling > form
{   
    margin-left: 15%;
    margin-top: 2.8%;
}

#bijmenu
{
    margin-left: 49%;
    text-align: center;
    float: left;
    width: 80%;
}

#bijmenu > ul > li > a
{
    margin-right: 2.5%;
}

footer > section > p > strong
{
    float: right;
    margin-right: 1%;
}

#welkom_website > h1
{
    width: 14.9%;
}

#welkom_website > p
{
    width: 45.8%;
}

#onderwijs_home, #sport_home, #buitenspelen_home, #natuur_home
{
    width: 70.4%;
    margin-top: 5%;
    margin-bottom: 2%;
}

#onderwijs_home, #buitenspelen_home
{
    margin-left: 24.2%;
}

#sport_home, #natuur_home
{
    margin-left: 5.3%;
}

section
{
    display: grid;
    grid-template-areas: 
    'onderwijs_home sport_home'
    'buitenspelen_home natuur_home';
}

#onderwijs_home > p, #onderwijs_home > h2, #buitenspelen_home > p, #buitenspelen_home > h2
{
    float: right;
    clear: both;
}

#sport_home > p, #sport_home > h2, #natuur_home > p, #natuur_home > h2
{
    float: left;
    clear: both;
}

#onderwijs_home > h2, #onderwijs_home > figure > a > img, 
#buitenspelen_home > h2, #buitenspelen_home > figure > a > img,
#sport_home > h2, #sport_home > figure > a > img,
#natuur_home > h2, #natuur_home > figure > a > img
{
    margin-top: 7.1%;
}

#onderwijs_home > p, #onderwijs_home > figure > figcaption, 
#buitenspelen_home > p, #buitenspelen_home > figure > figcaption
{
    margin-bottom: 7.1%;
}

#onderwijs_home > h2, #onderwijs_home > figure > a > img, #onderwijs_home > figure > figcaption,
#buitenspelen_home > h2, #buitenspelen_home > figure > a > img, #buitenspelen_home > figure > figcaption,
#sport_home > p, #sport_home > h2,
#natuur_home > p, #natuur_home > h2
{
    margin-left: 4.1%;
}

#onderwijs_home > h2
{
    margin-right: 23.1%;
}

#buitenspelen_home > h2
{
    margin-right: 18.7%;
}

#onderwijs_home > p,
#buitenspelen_home > p,
#sport_home > p,
#natuur_home > p
{
    margin-right: 4.1%;
}

#natuur_home > figure > figcaption
{
    margin-left: 80.5%
}

#sport_home > figure > figcaption
{
    margin-left: 78.5%
}

#bedrijfs_uitstraling > a > img
{
    margin-top: 0.9%;
    margin-bottom: 0.9%;
}

#welkom_website > h1
{
    float: left;
    margin-left: 19%;
    margin-top: 2%;
}

#welkom_website > p
{
    margin-top: 2.2%;
    float: left;
}

section
{
    clear: both;
}

#titel_pagina
{
    text-align: center;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 1%;
}

#titel_pagina_natuur
{
    text-align: center;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 1%;
}

#titel_pagina_speelplekken
{
    text-align: center;
    margin-left: 28%;
    margin-top: 5%;
    margin-bottom: 1%;
}

#formulier
{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
}

.tekst_onderwijs_zonder_kleur, #tekst_onderwijs,
#tekst_natuur_boven1, #tekst_natuur_boven2, #tekst_natuur_onder,
#tekst_speelplekken_boven1, #tekst_speelplekken_boven2, #tekst_speelplekken_onder,
#tekst_sport_boven1, #tekst_sport_boven2, #tekst_sport_onder1, #tekst_sport_onder2,
aside
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
}

/* De code voor de verschillende toning van de desktop en mobiele variant (code hier in zetten) */
@media screen and (max-width: 768px) 
{
    /* Code voor de mobiele variant */

}
  
  @media screen and (min-width: 769px) 
{
    /* Code voor de desktop variant */
}